In [2]:
import numpy as np
import pandas as pd
import tensorflow as tf
import os

In [2]:
data = pd.read_pickle(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\api\processed_data\final_train_data.pkl")

In [3]:
# Extract structured data (already encoded & scaled)
# Extract first 18 columns, excluding columns 1, 6, and 7
structured_data = data.iloc[:, :18]  # First 18 columns
structured_data = structured_data.drop(columns=[data.columns[0], data.columns[5], data.columns[6]])
structured_data_scaled = structured_data.values

In [4]:
# structured_data.to_pickle(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\data\processed_structured_data.pkl")

In [5]:
processed_structured=pd.read_pickle(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\data\processed_structured_data.pkl")

In [6]:
print(processed_structured.head())

print(processed_structured.shape)


print(processed_structured.dtypes)

   Cost_of_vehicle  Min_coverage  Expiry_date  Max_coverage  \
0         0.453657      0.453657     0.694979      3.477133
1         1.485276      1.485276     0.036866      0.210875
2         1.350717      1.350717    -1.333450      4.449064
3        -0.443403     -0.443403    -1.345041     -0.389600
4        -1.104984     -1.104984     0.416794     -0.595577

   Insurance_company_A  Insurance_company_AA  Insurance_company_AC  \
0                  0.0                   0.0                   0.0
1                  0.0                   0.0                   0.0
2                  1.0                   0.0                   0.0
3                  1.0                   0.0                   0.0
4                  0.0                   0.0                   1.0

   Insurance_company_B  Insurance_company_BB  Insurance_company_BC  \
0                  0.0                   0.0                   0.0
1                  0.0                   0.0                   0.0
2                  0.0                   0.0                   0.0
3                  0.0                   0.0                   0.0
4                  0.0                   0.0                   0.0

   Insurance_company_BQ  Insurance_company_C  Insurance_company_DA  \
0                   1.0                  0.0                   0.0
1                   1.0                  0.0                   0.0
2                   0.0                  0.0                   0.0
3                   0.0                  0.0                   0.0
4                   0.0                  0.0                   0.0

   Insurance_company_O  Insurance_company_RE
0                  0.0                   0.0
1                  0.0                   0.0
2                  0.0                   0.0
3                  0.0                   0.0
4                  0.0                   0.0
(1310, 15)
Cost_of_vehicle         float64
Min_coverage            float64
Expiry_date             float64
Max_coverage            float64
Insurance_company_A     float64
Insurance_company_AA    float64
Insurance_company_AC    float64
Insurance_company_B     float64
Insurance_company_BB    float64
Insurance_company_BC    float64
Insurance_company_BQ    float64
Insurance_company_C     float64
Insurance_company_DA    float64
Insurance_company_O     float64
Insurance_company_RE    float64
dtype: object

In [7]:
image_features = data.iloc[:, 18:]

In [8]:
image_features.to_pickle(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\data\processed_image_data.pkl")

In [9]:
image_feature=pd.read_pickle(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\data\processed_image_data.pkl")

In [10]:
print(image_feature.head())

print(image_feature.shape)


print(image_feature.dtypes)

   0     1     2     3         4     5     6         7         8     9     \
0   0.0   0.0   0.0   0.0  0.000000   0.0   0.0  0.000000  0.025724   0.0
1   0.0   0.0   0.0   0.0  0.005636   0.0   0.0  0.013030  0.000929   0.0
2   0.0   0.0   0.0   0.0  0.004366   0.0   0.0  0.000000  0.019673   0.0
3   0.0   0.0   0.0   0.0  0.000000   0.0   0.0  0.000000  0.000700   0.0
4   0.0   0.0   0.0   0.0  0.022251   0.0   0.0  0.016664  0.000000   0.0

   ...  2038  2039      2040  2041  2042  2043      2044  2045      2046  2047
0  ...   0.0   0.0  0.391611   0.0   0.0   0.0  0.001786   0.0  0.000000   0.0
1  ...   0.0   0.0  0.353185   0.0   0.0   0.0  0.000000   0.0  0.000000   0.0
2  ...   0.0   0.0  0.317310   0.0   0.0   0.0  0.000000   0.0  0.000000   0.0
3  ...   0.0   0.0  0.304931   0.0   0.0   0.0  0.000000   0.0  0.002559   0.0
4  ...   0.0   0.0  0.415673   0.0   0.0   0.0  0.000000   0.0  0.000000   0.0

[5 rows x 2048 columns]
(1310, 2048)
0       float32
1       float32
2       float32
3       float32
4       float32
         ...
2043    float32
2044    float32
2045    float32
2046    float32
2047    float32
Length: 2048, dtype: object

In [3]:
new_data= pd.read_pickle(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\api\processed_data\cleaned_data\train_data_cleaned.pkl")

In [5]:
print(new_data.head())

                            Image_path Insurance_company  Cost_of_vehicle  \
0  images/train_images/img_4513976.jpg                BQ          41500.0
1  images/train_images/img_7764995.jpg                BQ          50700.0
2   images/train_images/img_451308.jpg                 A          49500.0
3  images/train_images/img_7768372.jpg                 A          33500.0
4  images/train_images/img_7765274.jpg                AC          27600.0

   Min_coverage Expiry_date  Max_coverage  Condition  Amount
0        1037.5  03-12-2026      36142.68          0     0.0
1        1267.5  10-07-2025      12753.00          1  6194.0
2        1237.5  11-08-2022      43102.68          0     0.0
3         837.5  02-08-2022       8453.00          1  7699.0
4         690.0  01-05-2026       6978.00          1  8849.0

In [6]:
def image_exists(image_path):
    return os.path.isfile(image_path)

In [7]:
df_cleaned = new_data[new_data['Image_path'].apply(image_exists)]

In [8]:
print(df_cleaned)

                               Image_path Insurance_company  Cost_of_vehicle  \
39    images/train_images/img_4515236.jpg                 C          43700.0
143   images/train_images/img_4515218.jpg                AC          33500.0
297   images/train_images/img_4515215.jpg                AA          31100.0
324   images/train_images/img_4515247.jpg                RE          23400.0
427   images/train_images/img_4515232.jpg                BB          43700.0
654   images/train_images/img_4515282.jpg                 B          51800.0
852   images/train_images/img_7768988.jpg                BB          24000.0
990   images/train_images/img_7768981.jpg                DA          40400.0
1042  images/train_images/img_7768974.jpg                BC          38800.0
1051  images/train_images/img_7769000.jpg                 B          29400.0
1066  images/train_images/img_4515238.jpg                BQ          44300.0
1141  images/train_images/img_4515227.jpg                BC          52800.0
1210  images/train_images/img_4515244.jpg                 C          30700.0

      Min_coverage Expiry_date  Max_coverage  Condition  Amount
39          1092.5  26-10-2026       11003.0          1  3289.0
143          837.5  20-07-2023        8453.0          1   563.0
297          777.5  01-05-2025        7853.0          1  6510.0
324          585.0  16-03-2023        5928.0          1  5585.0
427         1092.5  09-03-2023       11003.0          1  2443.0
654         1295.0  06-06-2026       13028.0          1  5987.0
852          600.0  29-01-2024        6078.0          1   713.0
990         1010.0  28-11-2024       10178.0          1   690.0
1042         970.0  13-07-2028        9778.0          1  5948.0
1051         735.0  15-12-2022        7428.0          1   626.0
1066        1107.5  21-03-2024       11153.0          1  1997.0
1141        1320.0  19-05-2024       13278.0          1  5515.0
1210         767.5  15-11-2021        7753.0          1  2679.0

In [9]:
# Define the old part and new part of the image path
old_path_part = "train_images"
new_path_part = "retrain_images"

# Replace the old path part with the new one
df_cleaned['Image_path'] = df_cleaned['Image_path'].str.replace(old_path_part, new_path_part, regex=False)

print(df_cleaned)

                                 Image_path Insurance_company  \
39    images/retrain_images/img_4515236.jpg                 C
143   images/retrain_images/img_4515218.jpg                AC
297   images/retrain_images/img_4515215.jpg                AA
324   images/retrain_images/img_4515247.jpg                RE
427   images/retrain_images/img_4515232.jpg                BB
654   images/retrain_images/img_4515282.jpg                 B
852   images/retrain_images/img_7768988.jpg                BB
990   images/retrain_images/img_7768981.jpg                DA
1042  images/retrain_images/img_7768974.jpg                BC
1051  images/retrain_images/img_7769000.jpg                 B
1066  images/retrain_images/img_4515238.jpg                BQ
1141  images/retrain_images/img_4515227.jpg                BC
1210  images/retrain_images/img_4515244.jpg                 C

      Cost_of_vehicle  Min_coverage Expiry_date  Max_coverage  Condition  \
39            43700.0        1092.5  26-10-2026       11003.0          1
143           33500.0         837.5  20-07-2023        8453.0          1
297           31100.0         777.5  01-05-2025        7853.0          1
324           23400.0         585.0  16-03-2023        5928.0          1
427           43700.0        1092.5  09-03-2023       11003.0          1
654           51800.0        1295.0  06-06-2026       13028.0          1
852           24000.0         600.0  29-01-2024        6078.0          1
990           40400.0        1010.0  28-11-2024       10178.0          1
1042          38800.0         970.0  13-07-2028        9778.0          1
1051          29400.0         735.0  15-12-2022        7428.0          1
1066          44300.0        1107.5  21-03-2024       11153.0          1
1141          52800.0        1320.0  19-05-2024       13278.0          1
1210          30700.0         767.5  15-11-2021        7753.0          1

      Amount
39    3289.0
143    563.0
297   6510.0
324   5585.0
427   2443.0
654   5987.0
852    713.0
990    690.0
1042  5948.0
1051   626.0
1066  1997.0
1141  5515.0
1210  2679.0

C:\Users\varsh\AppData\Local\Temp\ipykernel_17616\3309618015.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Image_path'] = df_cleaned['Image_path'].str.replace(old_path_part, new_path_part, regex=False)

In [10]:
df_cleaned=df_cleaned.reset_index(drop=True)
df_cleaned

,Image_path,Insurance_company,Cost_of_vehicle,Min_coverage,Expiry_date,Max_coverage,Condition,Amount
0,images/retrain_images/img_4515236.jpg,C,43700.0,1092.5,26-10-2026,11003.0,1,3289.0
1,images/retrain_images/img_4515218.jpg,AC,33500.0,837.5,20-07-2023,8453.0,1,563.0
2,images/retrain_images/img_4515215.jpg,AA,31100.0,777.5,01-05-2025,7853.0,1,6510.0
3,images/retrain_images/img_4515247.jpg,RE,23400.0,585.0,16-03-2023,5928.0,1,5585.0
4,images/retrain_images/img_4515232.jpg,BB,43700.0,1092.5,09-03-2023,11003.0,1,2443.0
5,images/retrain_images/img_4515282.jpg,B,51800.0,1295.0,06-06-2026,13028.0,1,5987.0
6,images/retrain_images/img_7768988.jpg,BB,24000.0,600.0,29-01-2024,6078.0,1,713.0
7,images/retrain_images/img_7768981.jpg,DA,40400.0,1010.0,28-11-2024,10178.0,1,690.0
8,images/retrain_images/img_7768974.jpg,BC,38800.0,970.0,13-07-2028,9778.0,1,5948.0
9,images/retrain_images/img_7769000.jpg,B,29400.0,735.0,15-12-2022,7428.0,1,626.0
10,images/retrain_images/img_4515238.jpg,BQ,44300.0,1107.5,21-03-2024,11153.0,1,1997.0
11,images/retrain_images/img_4515227.jpg,BC,52800.0,1320.0,19-05-2024,13278.0,1,5515.0
12,images/retrain_images/img_4515244.jpg,C,30700.0,767.5,15-11-2021,7753.0,1,2679.0

In [14]:
df_cleaned.to_csv(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\data\retrain_data")

In [17]:
df= pd.read_csv(r"C:\Users\varsh\OneDrive\Desktop\notebook\Fast_Furious_Insured\data\retrain_data")

In [16]:
df

,Image_path,Insurance_company,Cost_of_vehicle,Min_coverage,Expiry_date,Max_coverage,Condition,Amount
0,images/retrain_images/img_4515236.jpg,C,43700.0,1092.5,26-10-2026,11003.0,1,3289.0
1,images/retrain_images/img_4515218.jpg,AC,33500.0,837.5,20-07-2023,8453.0,1,563.0
2,images/retrain_images/img_4515215.jpg,AA,31100.0,777.5,01-05-2025,7853.0,1,6510.0
3,images/retrain_images/img_4515247.jpg,RE,23400.0,585.0,16-03-2023,5928.0,1,5585.0
4,images/retrain_images/img_4515232.jpg,BB,43700.0,1092.5,09-03-2023,11003.0,1,2443.0
5,images/retrain_images/img_4515282.jpg,B,51800.0,1295.0,06-06-2026,13028.0,1,5987.0
6,images/retrain_images/img_7768988.jpg,BB,24000.0,600.0,29-01-2024,6078.0,1,713.0
7,images/retrain_images/img_7768981.jpg,DA,40400.0,1010.0,28-11-2024,10178.0,1,690.0
8,images/retrain_images/img_7768974.jpg,BC,38800.0,970.0,13-07-2028,9778.0,1,5948.0
9,images/retrain_images/img_7769000.jpg,B,29400.0,735.0,15-12-2022,7428.0,1,626.0
10,images/retrain_images/img_4515238.jpg,BQ,44300.0,1107.5,21-03-2024,11153.0,1,1997.0
11,images/retrain_images/img_4515227.jpg,BC,52800.0,1320.0,19-05-2024,13278.0,1,5515.0
12,images/retrain_images/img_4515244.jpg,C,30700.0,767.5,15-11-2021,7753.0,1,2679.0